body {

}

.page {
	width: 961px;
	height: 883px;
	background-image: url('../img/bg.png');
	position: relative;
	/*Раскоментировать, чтобы страничка была по центру окна*/
	/* margin: 0 auto; */
}

/*Logo*/

a {
	text-decoration: none;
}

p {
	font-family: Tahoma;
	color: #e6e6e6;;
}

.logo {
	position: absolute;
	top: 132px;
	left: 71px;
	z-index: 2;
}

.palm {
	position: absolute;
	top: 57px;
	left: 212px;
	z-index: 1;
}

.slogan {
	position: absolute;
	top: 176.5px;
	left: 155px;
	font-family: Tahoma;
	font-size: 8pt;
	color: #e6e6e6;
}

.clearfix:after {
	display: block;
	content: '';
	clear: both;
}

/*Contscts*/

.contacts {
	float: right;
	margin-top: 150px;
	margin-right: 82px;
}

.contacts p {
	font-family: Tahoma;
}

.contacts p:first-child {
	font-size: 11px;
}

.contacts p:nth-child(2) {
	padding-top: 7px;
	font-size: 6.5pt;
}

.contacts p:last-child {
	margin-top: 2px;
	font-size: 9px;
	margin-left: 1px;
}

/*Content*/

.content {
	display: block;
	margin-left: 47px;
}

/*.ramka {
	position: relative;
	display: inline-block;
	background-image: url(../img/ramka.png);
	background-repeat: no-repeat;
	/*margin: 13px -20px 45px 20px;
	padding: 7px;*/
/*	z-index: 2;
}*/

.content img {
	position: absolute;
	top: 6px;
	left: 4px;
	width: 261px;
	height: 178px;
	z-index: 1;
}

.ramka img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 270px;
	height: 189px;
	z-index: 2;
}

.figure {
	position: relative;
	display: inline-block;
	height: 204px;
	width: 230px;
  margin: 14px 23px 29px 20px;
}

.figure p {
	position: absolute;
	bottom: 1px;
	font-size: 12pt;
	text-align: center;
	width: 271px;
}

div.figure:nth-child(3) p,
div.figure:nth-child(4) p {
	display: inline-block;
	width: 265px;
}

div.figure:nth-child(6) p {
	display: inline-block;
	width: 262px;
}

div.figure:nth-child(5) p {
	display: inline-block;
	width: 268px;
}

footer {
	position: absolute;
	bottom: 5px;
	text-align: center;
}
