body {
	padding: 0;
	margin: 0;
	width: 1024px;
	height: 1024px;
	background-color: #ffffff;
}
h2 {
	margin-top: 50px;
	margin-left: 272px;
	font-family: Arial;
	font-size: 36px;
}
img {
	width: 200px;
	height: 200px;
	border: solid #8f8f8f 1px;
	display: block;
	margin-top: 29px;
	margin-left: 411px;
}
p {
	font-family: Arial;
	font-size: 14px;
	margin: 25px 0 23px 263px;
	padding: 0;

}
hr {
	width: 500px;
	margin-left: 262px;
}
.motivation {
	padding-top: 10px;
}
#new {
	padding-left: 12px;
	padding-top: 20px;
}
.first {
    padding-top: 14px;
}
li {
    padding: 3px 0px 2px 0px;
    margin-left: -3px;
    font-size: 1.1em;
}
.contacts {
	padding-top: 10px;
	margin-bottom: 5px;
}
.info {
	padding: 0px;
	margin: 0px 0px 20px 12.5px;
}
.vk {
	margin-top: 6px;
}
a {
	color: blue;
}
.feedback {
	margin: 24px 0 0 12px;
}