body {
	padding: 0;
	margin: 0;
	width: 1024px;
	height: 1024px;
	background-color: #ffffff;
}
h2 {
	margin: 43px 0 20px 269px;
	font-family: Arial;
	font-size: 36px;
	text-transform: uppercase;
}
img {
	width: 200px;
	height: 200px;
	border: solid #8f8f8f 1px;
	display: block;
	margin-top: 21px;
	margin-left: 411px;
}
p {
	font-family: Myriad Pro;
	font-size: 14px;
	margin: 20px 0 0 263px;
	padding: 0;
}
.job {
	font-family: Arial;
}
hr {
	width: 499px;
	margin: 20px 0 0px 262px;
}
.paragraph {
	margin-top: 15px;
	font-weight: bold;
	font-size: 18px;
}
ul {
	margin-top: -2px;
	margin-bottom: -2px;
}
.first {
  margin-top: 23px;
}
li {
  margin-left: 251px;
}
.tabul {
	margin-left: 299px;
	margin-top: 21px;
}
#vk {
	margin-top: 14px;
}
.adress {
	margin-top: 22px;
	margin-bottom: -1px;
}
a {
	color: #7694dd;
}
