body {
    width: 1366px;
    height: 950px;
    background-color: #f9f9f9;
}
.container {
	background-color: #ffffff;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,.3);
	box-shadow: 0 5px 5px rgba(0,0,0,.3);
	width: 1069px;
	height: 960px;
	margin-left: 150px;
}
/*Header*/
.logo {
    margin: 50px 50px;
}
.topmenu {
	width: 966px;
	height: 40px;
	margin-left: 50px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(bottom, #444343, #5e5e5e);
	background-image: -moz-linear-gradient(bottom, #444343, #5e5e5e);
	background-image: -o-linear-gradient(bottom, #444343, #5e5e5e);
	background-image: -ms-linear-gradient(bottom, #444343, #5e5e5e);
	background-image: linear-gradient(to top, #444343, #5e5e5e);
}
.topmenu ul {
	font-size: 0;
}
.topmenu li {
	display: inline-block;
	width: 100px;
	height: 40px;
	font-family: Open Sans;
	font-size: 11pt;
	text-align: center;
	line-height: 40px;
}
.topmenu li:hover {
	background-color: #fff;
	background-image: -webkit-linear-gradient(bottom, #2e2e2e, #4a4a4a);
	background-image: -moz-linear-gradient(bottom, #2e2e2e, #4a4a4a);
	background-image: -o-linear-gradient(bottom, #2e2e2e, #4a4a4a);
	background-image: -ms-linear-gradient(bottom, #2e2e2e, #4a4a4a);
	background-image: linear-gradient(to top, #2e2e2e, #4a4a4a);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}
a {
	text-decoration: none;
}
.topmenu a {
	color: #ffffff;
}
/*Sidebar*/
.sidebar {
	float: left;
	margin: 50px;
	width: 240px;
	height: 240px;
	background-color: #fff;
}
.sidebar li {
	border: solid 1px #c8c8c8;
	display: inline-block;
	color: #838383;
	height: 60px;
	width: 240px;
	line-height: 60px;
	padding-left: 23px;
}
.sidebar li:hover {
	padding-left: 35px;
	color: #2c2c2c;
	width: 228px;
}