.container {
	background-image: url(../img/body_bg.png);
	margin: 0 auto; 
	/*Закоментировать строчку выше и контейнер станет в левом верхнем углу*/
	width: 1280px;
	height: 1060px;
	z-index: 1;
	position: relative;
}

.page {
	position: absolute;
	left: 141px;
	top: 37px;
	background-image: url(../img/page_bg.png);
	width: 1018px;
	height: 991px;
	z-index: 2;
}

header {
	position: relative;
}

.logo {
	float: left;
	margin-left: 38px;
	margin-top: 13px;
}

p {
	font-family: Tahoma;
	color: #128aa7;
	font-size: 9pt;
}

.logo p {
	position: absolute;
	top: 111px;
	left: 108px;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: -0.2px;
	z-index: 2;
}

.right_box {
	float: right;
}

.contacts {
	margin-right: 17px;
	margin-top: 5px;
}

.contacts p {
	display: inline-block;
	width: 150px;
	letter-spacing: 0.4px;
	line-height: 19px;
}

.contacts p:first-line {
	font-weight: bold;
	letter-spacing: -0.6px;
	line-height: 25px;
}

.e-mail {
	font-family: Tahoma;
	color: #128aa7;
	font-size: 9pt;
	line-height: 17px;
	letter-spacing: 0.1px;
}

.countries {
	float: left;
}

/*FOOTER*/

footer {
	position: absolute;
	bottom: 12px;
	text-align: center;
	margin-left: 8px;
	letter-spacing: 0.12px;
	color: #fff;
	font-size: 9pt;
	font-family: Tahoma, sans-serif;
	width: 1280px;
}