.container {
	background-image: url(../img/body_bg.png);
	margin: 0 auto; 
	/*Закоментировать строчку вверху и контейнер станет в левом верхнем углу*/
	width: 1280px;
	height: 1060px;
	z-index: 1;
	position: relative;
}

.page {
	position: absolute;
	left: 141px;
	top: 37px;
	background-image: url(../img/page_bg.png);
	width: 1018px;
	height: 991px;
	z-index: 2;
}

.logo {
	float: left;
	margin-left: 38px;
	margin-top: 13px;
}